.animate-rotate-1 {
  animation: rotate-1 1.5s infinite alternate-reverse;
}

@keyframes rotate-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

.animate-rotate-2 {
  animation: rotate-2 2s infinite alternate-reverse;
}

@keyframes rotate-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(120deg);
  }
}

.animate-rotate-base {
  animation: rotate-base 1.5s infinite alternate-reverse;
}

@keyframes rotate-base {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(30deg);
  }
}
